.held{
    width: 100%;
    height: 100%;
    background-image: url("Untitled\ design.png");
    display: flex;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
}
.held.logo{
    width: 200px;
    padding-left: 60px;
    padding-bottom: 100%;
    
}
.held nav{
    width: 450px;
    float: right;
    display: flex;
    justify-content: space-around;
}
.held nav a{
    text-decoration: none;/* iss link k neeche ki under line hat jati hi*/
    color: black;
    text-transform: uppercase;
    height: 30px;
    padding-top: 20px;
}
.held nav .butt  {
    font-size: 14px;
    color: blanchedalmond;
    border-radius: 4px;
    padding-top: 20px;
}
.left button{
    background-color: violet;
}
.main.left{
    align-content: flex-start;
}
